<div class="m-0 mb-4 text-center">
  <h1 class="text-brand-blue-100 title">SIMULADOR DE CRÉDITO</h1>
  <h2>cuota fija y tasa fija</h2>
</div>
<div class="container grid gap-12 grid-col-1 lg:grid-cols-2">
  <nb-card class="h-full mt-0">
    <nb-card-header
      ><h3 class="h4 title">Información Crédito De Vivienda</h3></nb-card-header
    >
    <nb-card-body>
      <form [formGroup]="form">
        <div class="flex flex-col space-y-6">
          <!-- <div>
            <nb-radio-group formControlName="tipoDeuda">
              <nb-radio value="hipoteca">Hipoteca</nb-radio>
              <nb-radio value="deudorSolidario">Deudor solidario</nb-radio>
              <nb-radio value="ninguna">Ninguna</nb-radio>
            </nb-radio-group>
          </div> -->
          <div>
            <h6 class="text-lg font-semibold">Monto del prestamo</h6>
            <input
              type="number"
              fullWidth
              shape="semi-round"
              type="text"
              nbInput
              placeholder="Valor a solicitar"
              formControlName="montoPrestamo"
              mask="separator.2"
              thousandSeparator="."
              status="primary"
            />
          </div>
          <ng-container
            *ngIf="montoPrestamo.invalid&&montoPrestamo.updateOn && (montoPrestamo.dirty||montoPrestamo.touched) && montoPrestamo.errors"
          >
            <span
              class="text-brand-blue-100"
              *ngIf="montoPrestamo.errors.required"
            >
              El campo es requerido
            </span>
            <span
              class="text-brand-blue-100"
              *ngIf="montoPrestamo.errors?.pattern"
            >
              El campo debe ser numérico
            </span>
            <span class="text-brand-blue-100" *ngIf="montoPrestamo.errors?.max">
              El monto no debe superar el valor de {{montomaximo|currency}}
            </span>
          </ng-container>
          <div>
            <label class="text-lg font-semibold"
              >Plazo del credito (Meses)</label
            >
            <div class="containerGrup">
              <input
                type="number"
                fullWidth
                shape="semi-round"
                type="text"
                nbInput
                placeholder="Meses"
                formControlName="plazo"
                status="primary"
                (keyup)="onEnter($event)"
              />
            </div>
          </div>
          <ng-container
            *ngIf="plazo.invalid&&(montoPrestamo.dirty||plazo.touched) && plazo.errors"
          >
            <span class="text-brand-blue-100" *ngIf="plazo.errors.required">
              El campo es requerido
            </span>
            <span class="text-brand-blue-100" *ngIf="plazo.errors.pattern">
              El campo debe ser numérico
            </span>
            <span class="text-brand-blue-100" *ngIf="plazo.errors.max">
              El número de cuotas debe ser menor o igual a {{plazomaximo}} meses
            </span>
          </ng-container>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer
      ><div *ngIf="haSimulado" class="flex justify-center pb-2">
        <button
          style="width: 60%"
          hero
          status="success"
          nbButton
          shape="round"
          class="btn"
          (click)="onEnterNuevo()"
        >
          Nuevo
        </button>
      </div>
      <div class="flex justify-center">
        <button
          style="width: 60%"
          nbButton
          shape="round"
          class="btn"
          [disabled]="haSimulado"
          (click)="onClick()"
        >
          Simular
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
  <app-informacion-credito
    [valorCuota]="valorCuota"
    [title]="title"
    [intereses]="interes"
    [interesesEA]="interesEA"
    [TotalAhorro]="valorCuota"
    [TotalCredito]="totalCredito"
    [tipoSolicitud]="'Crédito'"
  ></app-informacion-credito>
</div>
