h6 {
  margin: 5% !important;
}

.text {
  margin: 1rem 0 0;
}
/* // Set constant line height to prevent text shifting.
line-height: nb-theme(text-subtitle-line-height); */

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.cardDatos {
  background-color: #1c85e8;
  color: white;
  height: 50%;
}

.containerGrup {
  display: flex;
}

.position {
  display: flex-end;
}

.header {
  margin-top: 3%;
}

.contain {
  margin-top: 10%;
}
.contain-button {
  padding-top: 2%;
}

img {
  float: inline-start;
  width: 30%;
  margin-top: 1%;
  margin-left: 1%;
  min-width: 10%;
  height: auto;
}
