<nb-layout container class="flex toolbard">
  <nb-layout-header class="header">
    <div class="grid w-full grid-cols-3" style="flex-direction: row">
      <div class="flex w-full" fixed>
      <div class="flex-col-reverse rounded-full" style=" display: flex;background-color: white;align-items: center; padding-top:1rem;" fixed>
        <img style="padding-top:1rem;" src="./assets/img/logo-home.png" />
      </div>
      </div>
      <!-- <div class="contain">
        <div
          class="flex space-x-6 contain-button"
          style="justify-content: center"
        >
          <button
            outline
            nbButton
            [nbContextMenu]="items"
            nbContextMenuTag="context-menu"
            size="large"
            [ngClass]="{ btn: esCredito }"
          >
            Créditos
          </button>
        </div>
      </div> -->
    </div>
  </nb-layout-header>

  <nb-layout-column style="justify-content: center; " class="flex ">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer >

    <div class="flex flex-wrap pt-0 text-xs">
      <span>
        AVISO LEGAL. El servicio que ofrece INSOVIVIENDA para efectos de
        simulación de crédito es de carácter eminentemente ilustrativo
        e informativo, brindando a sus posibles beneficiarios la posibilidad de formarse una
        idea cercana de las condiciones a las que podría acceder a nuestros
        servicios de crédito, sin embargo, tanto el efectivo
        otorgamiento de un crédito como las reales y definitivas condiciones del
        mismo, dependerán enteramente de las políticas de otorgamiento de
        crédito que tiene vigente INSOVIVIENDA, por lo que los resultados de
        la simulación no son vinculantes para ésta en cuanto tener que otorgar
        un crédito o mantener los resultados que arroje la simulación</span
      >
    </div>
  </nb-layout-footer>
</nb-layout>
